//====================================================================================================
.footer {
    padding: 30px;
    background: #4B5563;

    &__container {
        text-align: center;
    }
}

//====================================================================================================